.card-container {
  margin-left: 10%; /* Space for sidebar */
  width: 70%;
  top: 60px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes up full height */

}
table {
  width: 80%;
  border-collapse: collapse;
  margin-left: 20%;
  margin-top: 60px;

 
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p-4 {
  padding: 6px;
}



/* .form {
    width: 75%;
    margin: 0 auto; 
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 2%;
    margin-top: 50px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form table {
    width: 100%;
    margin-top: 20px;
} */
